@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,700&family=Raleway:wght@300;400;500;600&display=swap');


:root{
    --green: hsl(162, 45%, 56%);
    --lead: hsl(162, 2%, 56%);
    --blue: hsl(220, 85%, 57%);
    --violet: hsl(272, 92%, 32%);
    --tex-white: hsl(0, 0%, 100%);
    --text-light-gray: hsl(0, 0%, 90%);
    --body-bg-color: hsl(200, 54%, 12%);
    --glass-bg-color: hsla(0, 0%, 100%, 0.05);
    --border-color: hsla(0, 0%, 100%, 0.25);
    --blur: blur(10px);/* desenfoque de elementos agregados*/
    --button-hover-color: hsla(0, 0%, 0%, 0.3);/* color al pasar el mouse en el botón*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--body-bg-color);
    color: var(--text-light-gray);
    font-family: 'Raleway','Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}

body::after,
body::before{
    content:'';
    position: fixed;
    height: 400px;
    width: 400px;
    border-radius:50%;
    z-index: -1;
    filter: blur(150px);
    opacity: 0.5;
}
body::before{
    background-color: var(--blue);
    left: 0;
    bottom: 0;
    transform: translate(-50%);
}
body::after{
    background-color: var(--violet);
    right: 0;
    top: 0;
    transform: translate(50%);
}

a{
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
}
.navbar{
    height: 100px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position:absolute;
    top: 0;
    z-index: 999;
        

}
.navbar__container{

    width: 100%;
    max-width: 450px;
    position: relative;
    z-index: 1;
}

.gradient-text{
    background: linear-gradient(to right, var(--green), var(--lead));
    -webkit-background-clip: text ;
    background-clip: text;
    color: transparent;
}

.navbar__main{
    min-height: 20vh;
    padding: 60px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.navbar__container {
	display:flex;
	justify-content: space-between;
	height: 80px;
	z-index: 1;
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 15px 50px;
}

.navbar__menu {
	display: flex;
	align-items:center;
	list-style: none;
	text-align: center;
	padding-top: 25px;
	
}

#navbar__title {
    font-size:45px;
    color: #E6F1F3;

}

.nav__links {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	padding: 0 1rem;
	height: 100%;
    background: linear-gradient(to right, var(--green), var(--lead));
    -webkit-background-clip: text ;
    background-clip: text;
    color: transparent;
}
.navbar__btn{
    height: 34px;
    width: 65%;
    font-size: 18px;
    align-content: center;
    font-weight: 502;
    text-transform: capitalize;/*Primera letra en mayúscula*/
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    background: linear-gradient(to right, var(--green), var(--lead));
    border: none;
    color: var(--tex-white);
    position: relative;
    z-index: 1;
    overflow: hidden;
}


.navbar__main .button::before{
    content: "";
    position: absolute;
    left:0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: background-color 0.5 ease;
    z-index: -1;
}

.navbar__main .button:hover::before{
    background-color: var(--button-hover-color);
}

.navbar__main ::placeholder{
    color: inherit;
}

.main{
    display:contents;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position:absolute;
    top: 0;
    z-index: 999;
}

.main__container {
	display:flex;
	justify-content: space-between;
	height: 1210px;
	z-index: 20;
	width: 200%;
	max-width: 1500px;
    align-content: center;
	margin: 0 auto;
	padding: 0 150px 25px;
}
.main__content {

    text-align: center;
}
/*.main__content h2{
    font-size: 28px;
    text-align: center;
    line-height: 1.5;
    color: var(--tex-white);
    font-weight: 500;
    height: 10px;
    padding: 30px;
}*/

.main__content p{
    line-height: 1.5;
    height: 220px;
    padding-bottom: 10px;

}


.main__content .mision{
    padding: 15px;
    height: fit-content;
}

.main__content .vision{
    height: 35px;
 
}
.main__content .mision_parrafo{
    padding:10px;
    height: 0%;

}

.main__content .vision_parrafo{
    padding:20px;

}
.main__content .button_contacto{

    height: 50px;
    width: 120px;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;/*Primera letra en mayúscula*/
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    background: linear-gradient(to right, var(--green), var(--lead));
    border: none;
    position:static;
    z-index: 1;
    overflow: hidden;
    padding:0;
    
}

.main__content .button_contacto::before{
    content: "";
    position:fixed;
    left:0;
    top: 0;
    height: 20%;
    width: 100%;
    transition: background-color 0.5 ease;
    z-index: -1;
}

.main__content .button__contacto:hover::before{
    background-color: var(--button-hover-color);
}




.img{
    position:static;
    
}

.footer{
    font-size: 20px;
    text-align: center;
    align-items: flex-end;
    padding: 10px 0 0 0;
    color: #fff;
}

.footer__container{
    background: linear-gradient(to right,#131313, #323132);
    /*background: linear-gradient(to right, #131313);*/
    height: 98px;
}
